/controller-firmware/src/autogen_sources
*.jou
*.log
/.Xil
/controller-firmware/Vivado/.Xil
*.pyc
/controller-software/config/venv
/controller-software/web/node_modules/.bin
/controller-software/web/node_modules

controller-software/*
!controller-software/config/
!controller-software/core/
!controller-software/vitis/
!controller-software/web/
/controller-software/web/build
controller-software/core/api_drivers/test_controller

.vscode/settings.json
controller-firmware/python/pyvenv.cfg
*.vcd
controller-software/core/zynq_files/controller/bin/controller_core
/fpga_config.json

controller-software/web/web-interface/node_modules


# ignore large data capture files
controller-firmware/python/src/sandbox/analog.csv
controller-firmware/python/src/sandbox/fanuc_encoder_rs485_raw.csv
controller-firmware/python/src/sandbox/fanuc_rs485_detected_edges.csv
controller-firmware/python/src/sandbox/yaskawa_decoded_manchester_raw.csv
controller-firmware/python/src/sandbox/t.txt


controller-firmware/Vivado/autogen_sources/*
controller-software/core/.debug/zynq-sysroot/*
