/controller-firmware/src/autogen_sources
*.jou
*.log
/.Xil
/controller-firmware/Vivado/.Xil
*.pyc
/controller-software/config/venv
/controller-software/web/node_modules/.bin
/controller-software/web/node_modules
