.obsidian
/.eggs
/controller-software/.metadata
/controller-software/dram_test
/controller-software/helloworld2
/controller-software/helloworld2_
/controller-software/lwip_test
/controller-software/xgpio_example_1
/controller-software/dram_test_0
/controller-software/helloworld2__system
/controller-software/xgpio_example_1_system
/controller-software/dram_test_0_system
controller-software/RemoteSystemsTempFiles/.project
controller-software/IDE.log
/controller-software
/controller-firmware/Vivado
/controller-firmware/Vivado
/controller-firmware/python/Lib/site-packages
/controller-firmware/python/amlib-main
